form {
    background-color: #101010d1;
    color: #f0f2f5;
    border: 20px solid rgba(16, 16, 16, 0.63);
    box-shadow: inset 0 0 0 2px #ffffff;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
  }
  
  .title {
    text-align: center;
  }

input:focus {
    background-color: black;
    color: rgb(255, 255, 255);
    opacity: 100%;
  }